/FlexibleMVC/obj
/.vs
/FlexibleMVC/FlexibleMVC.Web.Admin/obj
/FlexibleMVC.Base/obj
/Backup
/FlexibleMVC/FlexibleMVC.Web.Frond/obj
/FlexibleMVC/bin/FlexibleMVC.Web.dll.config
/FlexibleMVC/bin/FlexibleMVC.Web.Frond.dll
/FlexibleMVC/bin/FlexibleMVC.Web.Frond.dll.config
/FlexibleMVC/bin/FlexibleMVC.Web.Frond.pdb
/FlexibleMVC/bin/FlexibleMVC.Web.pdb
/FlexibleMVC/bin/FlexibleMVC.Base.dll
/FlexibleMVC/bin/FlexibleMVC.Base.pdb
/FlexibleMVC/bin/FlexibleMVC.Web.Admin.dll
/FlexibleMVC/bin/FlexibleMVC.Web.Admin.dll.config
/FlexibleMVC/bin/FlexibleMVC.Web.Admin.pdb
/FlexibleMVC/bin/FlexibleMVC.Web.dll
/FlexibleMVC.BLL/obj
/FlexibleMVC.DAL/obj
/FlexibleMVC.Model/obj
/FlexibleMVC/bin/FlexibleMVC.DAL.dll
/FlexibleMVC/bin/FlexibleMVC.DAL.pdb
/FlexibleMVC/bin/FlexibleMVC.Model.dll
/FlexibleMVC/bin/FlexibleMVC.Model.pdb
/FlexibleMVC/bin/FlexibleMVC.BLL.dll
/FlexibleMVC/bin/FlexibleMVC.BLL.pdb
/FlexibleMVC/bin/FlexibleMVC.LessBase.dll
/FlexibleMVC/bin/FlexibleMVC.LessBase.pdb
/FlexibleMVC.LessBase/obj
