@using FlexibleMVC.LessBase.Filters.Permission;
@{
    Layout = null;
    var dir = Url.Content("~/Content/HttpError/500");
    var e = TempData["Exception"] as PermissionDeniedException;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@e.Message</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="@dir/500.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <h5>抱歉，系统访问出现一点小问题！</h5>
    <table class="gridtable">
        <tr>
            <td rowspan="4"><img src="@dir/error.png" border="0" /></td>
            <th>类型</th>
            <th>描述</th>
        </tr>
        <tr>
            <td>返回消息</td>
            <td>@e.Message</td>
        </tr>
        <tr>
            <td>可能原因</td>
            <td>
                1、管理员正在调整角色授权<br />
                2、系统正在维护升级
            </td>
        </tr>
        <tr>
            <td>解决方法</td>
            <td>
                <a href="javascript:refresh()">『刷新页面』</a><br />
                <a href="@e.RedictUrl" target="_top">『重新登录』</a><br />
                『联系管理员』<br />
            </td>
        </tr>
    </table>

</body>
</html>
<script>
    function refresh() {
        // 框架主页面刷新，可以实现下面两个功能：
        top.location.reload();   //刷新整页
    }
</script>


