@{
    ViewBag.Title = "AjaxTest";
}

<h2>AjaxTest</h2>
<div id="div1"></div>
<script>

    var postParam = {
        'url': "http:baidu.com",
        'patient': [{ name: "张三", age: 123, sex: "男" }, { name: "李四", age: 55, sex: "女" }]
    };

    //获取微信分享接口
    $.ajax({
        type: "post",
        url: 'http://127.0.0.1:32778/A_Home/TestAjax',
        data: postParam,
        dataType: 'json',
        success: function (data) {
            alert(data.url);
        }
    });

    $("#div1").load("http://127.0.0.1:32778/A_Home/Index");
</script>