@{
    Layout = null;
    string miniui = LessConfig.MiniUI_Path;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>订单查询</title>

    <link href="@Url.Content(@miniui + "demo/demo.css")" rel="stylesheet" type="text/css" />
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            border: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    </style>

    <script src="@Url.Content(@miniui + "scripts/boot.js")" type="text/javascript"></script>

    <!--引入皮肤样式-->
    <!--<link href="../../scripts/miniui/themes/blue/skin.css" rel="stylesheet" type="text/css" />-->

</head>
<body>


    <div id="dept_grid" class="mini-datagrid" style="width:100%;height:100%;" allowResize="true"
         url="bjdc_system_MealOrder/GetOrderList" idField="id"
         onshowrowdetail="onShowRowDetail">
        <div property="columns">
            <div type="expandcolumn">#</div>
            <div field="OrderID" headerAlign="left">订单编号</div>
            <div field="OrderTime" headerAlign="center" dateFormat="yyyy-MM-dd HH:mm:ss">订单创建时间</div>
            <div field="ContactName" headerAlign="left">联系人</div>
            <div field="ContactMobile" headerAlign="left">手机</div>
            <div field="DepartmentName" headerAlign="left">科室</div>
            <div field="BedCode" headerAlign="left">床号</div>
            <div field="IsAlreadyPaid" headerAlign="left" renderer="onGenderRenderer">支付状态</div>
            <div field="PayTime" headerAlign="left" dateFormat="yyyy-MM-dd HH:mm:ss" renderer="onPayTimeRenderer">支付时间</div>
            <div field="PayNo" headerAlign="left">交易单号</div>
            <div field="OrderMoney" headerAlign="left">订单金额（元）</div>

        </div>
    </div>

    <div id="detailGrid_Form" style="display:none;">
        <div id="employee_grid" class="mini-datagrid" style="width:100%;height:150px;"
             url="bjdc_system_MealCategory/GetMealMenuTree">
            <div property="columns">
                <div field="OrderTime" width="120" headerAlign="center" allowSort="true">
                    订单创建时间
                    <input property="editor" class="mini-textbox" />
                </div>
                <div field="gender" width="100" allowSort="true" renderer="onGenderRenderer" align="center" headerAlign="center">
                    性别

                </div>
                <div field="age" width="100" allowSort="true">
                    年龄

                </div>
                <div field="birthday" width="100" allowSort="true" dateFormat="yyyy-MM-dd">
                    出生日期

                </div>
                <div field="createtime" width="100" headerAlign="center" dateFormat="yyyy-MM-dd" allowSort="true">创建日期</div>
            </div>
        </div>
    </div>


    <script type="text/javascript">
        var PayStatus = [{ id: 0, text: '未支付' }, { id: 1, text: '已支付' }];

        mini.parse();

        var dept_grid = mini.get("dept_grid");
        var employee_grid = mini.get("employee_grid");
        var detailGrid_Form = document.getElementById("detailGrid_Form");

        dept_grid.load();

        ///////////////////////////////////////////////////////

        function onGenderRenderer(e) {
            for (var i = 0, l = PayStatus.length; i < l; i++) {
                var g = PayStatus[i];
                if (g.id == e.value) return g.text;
            }
            return "";
        }

        function onPayTimeRenderer(e) {
            if (e.cellHtml == "1901-01-01 00:00:00")
                return "";

            return e.cellHtml;
        }

        function onShowRowDetail(e) {
            var grid = e.sender;
            var row = e.record;

            var td = grid.getRowDetailCellEl(row);
            td.appendChild(detailGrid_Form);
            detailGrid_Form.style.display = "block";

            employee_grid.load({ dept_id: row.id });
        }
    </script>

</body>
</html>