@{
    //ViewBag.Title = "Index_part1";

    var T = DependencyResolver.Current.GetServices<FlexibleMVC.BLL.PatientBll>().ToList();

    var patientDal = flexibleContext.Get<PatientDal>();
    var list = patientDal.GetModels();
}

<h2>Index_part1</h2>
分部视图11111 @list[0].PatientName
@ViewBag.Title