@{
    //ViewBag.Title = "Index_part1";
    var patientDal = lessContext.Get<PatientDal>();
    var list = patientDal.GetModels();
}

<h2>Index_part1</h2>
分部视图11111 @list[0].PatientName
@ViewBag.Title